<a class="btn add-category btn-primary" routerLink="/admin/catrgories/category-form">Add Category</a>
<div class="col-9 main-div">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Last</th>
	      <th scope="col">Handle</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let category of categories | async; index as i">
	      <th scope="row">{{i +1}}</th>
	      <td>{{category.name}}</td>
	      <td>
	      	<a [routerLink]="['/admin/catrgories/category-form/', category.key]" class="btn btn-primary edit-link mr"> Edit </a>
	      </td>
	    </tr>
	  </tbody>
	</table>
</div>

